
// page colors 
$primary-color:rgb(144, 219, 238);
$background-color: rgb(0, 97, 100);
$sl-color--patina:rgb(0, 97, 100);
// text colors
$dark-text: #2F4F4F;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font: 'Josefin Sans', sans-serif;
$title-font: 'Prosto One', cursive;

$footer-height: 50px;
