.bg-signup {
    background-color: orange;
    /* position:relative; */
    width: 100vw;
    height: 89vh;
    
    /* top: 0em; */
    /* bottom: 0em;  */
    
}

.signupBox {
    padding-top: 75px;
    margin: 0 auto;
    /* height: 89vh; */
     width: 300px;
}